
.staff{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: inline-start;
    margin: 20px;
    padding: 20px;
}
 .li{
    text-align: center;
    background-color: whitesmoke;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    list-style: none;
}