*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62,5%;
}

body{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url(../imagenes/estadiodefondo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 1800px;
    background-attachment: local;
    background-size: cover;
    min-height: 100vh;
}

.imagenUno{
    width: 100%;
}

#footer{
    width: 100%;
    height: 40px;
    background:whitesmoke;
    position: fixed;
    bottom: 0%;
    text-align: center;
}

/*Todo lo relacionado al index*/
h1{
    text-align: center;
    margin: 25px 25px;
    background-color: whitesmoke;
    border-radius: 5px;
}


/*todo lo relacionado al main*/

.h1{
    width: 300px;
    height: 300px;
    margin: 45px;
    padding: 45px;
    border-radius: 5px;
}

.parrafo_azul{
    font-style: italic;
    font-weight: bold;
    background-color: whitesmoke;
    margin: 15px;
    padding: 15px;
    border-radius: 5px;

}

.colormenu{
    font-family: sans-serif;
    text-align: center;
    margin: 30px;
}
